:root{
    --header-color: #2c3d50;
    --jumbotron-bg: #1abc9c;
    --footer: #3b546d;
}

/* Header */

header{
    background-color: var(--header-color);
}

/* Navbar */

header .nav-link{
    color: white;
}

/* Jumbotron */

.jumbotron{
    background-color: var(--jumbotron-bg);
}

.jumbotron img{
    max-width: 150px;
}

.jumbotron .line-star{
    background-color: white;
    width: 50px;
    height: 2px;
}

.jumbotron .col-12 i{
    padding: 0px 20px;
}

/* Main*/

/* Section Portfolio */

#portfolio .line-star{
    background-color: black;
    width: 100px;
    height: 2px;
}

#portfolio .col-12 i{
    padding: 0px 20px;
}

/* Section About */

#about{
    background-color: var(--jumbotron-bg);
}

#about .line-star{
    background-color: white;
    width: 100px;
    height: 2px;
}

#about .btn{
    background-color: var(--jumbotron-bg);
    border: 1px solid white;
    color: white;
}

#about .col-12 i{
    padding: 0px 20px;
}

#about .btn i{
    padding: 0px 5px;
}

/* Section Contact me */

#contact-me{
    border: 2px dashed violet;
    height: 300px;
}

#contact-me .col-12{
    border: 2px solid black;
}

/* Footer */

/* Section Footer information */

#footer-information{
    background-color: var(--footer);
    border: 2px dashed yellow;
    height: 300px;
}

#footer-information .col-12{
    border: 2px solid black;
}


/* Section Footer copyright */

#footer-copyright{
    background-color: var(--header-color);
    border: 2px dashed green;
    height: 150px;
}

#footer-copyright .col{
    border: 2px solid black;
}