:root{
    --header-color: #2c3d50;
    --jumbotron-bg: #1abc9c;
    --footer: #3b546d;
}

/* Header */

header{
    background-color: var(--header-color);
}

/* Navbar */

header .nav-link{
    color: white;
}

.navbar-toggler{
    background-color: white;
}

/* Jumbotron */

.jumbotron{
    background-color: var(--jumbotron-bg);
}

.jumbotron img{
    max-width: 150px;
}

.jumbotron .line-star{
    background-color: white;
    width: 50px;
    height: 2px;
}

.jumbotron .col-12 i{
    padding: 0px 20px;
}

/* Main*/
/* Section Portfolio */

#portfolio .line-star{
    background-color: black;
    width: 100px;
    height: 2px;
}

#portfolio .col-12 i{
    padding: 0px 20px;
}

/* Section About */

#about{
    background-color: var(--jumbotron-bg);
}

#about .line-star{
    background-color: white;
    width: 100px;
    height: 2px;
}

#about .btn{
    background-color: var(--jumbotron-bg);
    border: 1px solid white;
    color: white;
}

#about .col-12 i{
    padding: 0px 20px;
}

#about .btn i{
    padding: 0px 5px;
}

/* Section Contact me */

#contact-me .line-star{
    background-color: black;
    width: 100px;
    height: 2px;
}

#contact-me .col-12 i{
    padding: 0px 20px;
}

#contact-me .btn{
    background-color: var(--jumbotron-bg);
    border: 1px solid white;
    color: white;
}

#contact-me textarea{
    width: 100%;
    height: 200px;
    resize: none;
}

#contact-me .form-control{
    border-radius: 0;
    border-width: 0 0 1px 0;
}

/* Footer */
/* Section Footer information */

#footer-information{
    background-color: var(--footer);
}

#footer-information a{
    color: var(--jumbotron-bg);
}

#footer-information i{
    font-size: 30px;
    padding: 0px 5px;
}

/* Section Footer copyright */

#footer-copyright{
    background-color: var(--header-color);
}